<style>
  .Courses_Slider {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
  }

  .swiper-slide {
    flex-shrink: 0;
    width: auto;
    max-width: 100%;

  }

  .swiper-button-prev, .swiper-button-next {
    width: 35px;
    height: 35px;
    background: #E33d5c;
    border-radius: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }
  .Courses_Slider p{
    padding: 14px 0 20px 0;
  }
  .Courses_Slider h4{
    font-size: 30px;
  }

  .Courses_Slider img{
    width: 100%;
    object-fit: cover;
  }
  .Courses_Slider figure{
    max-height: 260px;
  width: 97%;
  height: 100%;
}


  .Courses_Slider h5{
    padding-top: 10px;
    font-size: 18px;
    color:#1f0b45
  }
  .swiper-button-prev { left: -65px; }
  .swiper-button-next { right: -65px; }

  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 20px;
    color: #ffffff;
  }
  @media (max-width:1150px) {
    .swiper-button-prev ,.swiper-button-next{
      display: none;
    }
  }
  
</style>

<section class="Courses">
  <div class="container" style="position:relative">
    <div class="d-flex justify-content-center align-items-center text-center flex-column mx-auto" data-aos="fade-up">
      <h1>Our Courses</h1>
      <p>Nurturing Young Minds with Tailored Learning Programs for Every Age Group</p>
    </div>

    <div class="Courses_Slider swiper-container" data-aos="fade-up">
      <div class="swiper-wrapper" style="display: flex;">
        <div class="swiper-slide" >
          <div class="d-flex flex-column position-relative" style="height: 495px; justify-content:center; align-items:center">
            <figure style="margin-top: -20px;"><img class="w-100" src="assets/images/slider/courses_1.webp" alt="courses_1"></figure>
            <div class="d-flex flex-column text-center">
              <h4>Playgroup </h4>
              <h5>(Age 1.5-3)</h5>
              <p>Early exploration through play-based learning.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="d-flex flex-column position-relative" style="height: 495px;">
            <figure><img class="w-100" src="assets/images/slider/courses_2.webp" alt="courses_2"></figure>
            <div class="d-flex flex-column text-center">
              <h4>Nursery </h4>
              <h5>(Age 3-4)</h5>
              <p>Building foundational skills through creativity and fun activities.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="d-flex flex-column position-relative" style="height: 495px;">
            <figure><img class="w-100" src="assets/images/slider/courses_3.webp" alt="courses_3"></figure>
            <div class="d-flex flex-column text-center">
              <h4>Jr. KG</h4>
              <h5> (Age 4-5)</h5>
              <p>Developing social, cognitive, and motor skills for the next stage.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="d-flex flex-column position-relative" style="height: 495px;">
            <figure><img class="w-100" src="assets/images/slider/courses_2.webp" alt="courses_2"></figure>
            <div class="d-flex flex-column text-center">
              <h4>Sr. KG</h4>
              <h5> (Age 5-6)</h5>
              <p >Preparing young learners for formal education with a focus on independence and critical thinking.</p>
            </div>
          </div>
        </div>
      </div>

      
    </div>
    <!-- Navigation Buttons -->
    <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
    <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
  </div>
</section>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.Courses_Slider', {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      
      768: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    }
  });
</script>
