<section class="Enroll">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center text-center flex-column" data-aos="fade-up">
        <h1>Nurturing Young Hearts And Minds</h1>
        <p>Lorem ipsum dolor sit amet consectetur. Venenatis pulvinar sapien urna blandit sit adipiscing. Quis
          parturient quisque malesuada pharetra scelerisque orci consectetur pulvinar. Consequat viverra morbi
          morbi vitae tincidunt tristique mi. Cursus sollicitudin augue imperdiet lectus gravida.</p>
        <div class="d-flex w-100 justify-content-center align-items-center">
          <a href="Programs.html" class="hover1">Enroll now</a>
        </div>
      </div>
    </div>
  </section>