<%- include('header'), {seoDetails} %>


<section class="Subpage_Hero">
    <div class="container">
        <div class="text-lg-start text-center" data-aos="fade-up">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Quis sed donec quis nunc aliquet cursus mauris ut. Enim
                fermentum maecenas rutrum dapibus sodales quis. Pulvinar consectetur amet cursus netus at.</p>
        </div>
    </div>
</section>
<!-- ======== End of 2.1. Subpage_Hero section ======== -->
<!-- ======== End of 1.3. About section ========  -->
<section class="About m-0">
    <div class="container">
        <div class="row justify-content-between gy-md-0 gy-4">
            <div class="col-lg-4 col-md-5">
                <div class="d-flex flex-column justify-content-lg-center h-100 position-relative"
                    data-aos="fade-up">
                    <h2>Join a Place Where Every Student Should Be</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Quis sed donec quis nunc aliquet cursus mauris
                        ut.
                        Enim fermentum maecenas rutrum dapibus sodales quis. Pulvinar consectetur amet cursus
                        netus
                        at.</p>
                    <div class="d-flex flex-column gap-lg-4 gap-3 mb-lg-5 mt-lg-3">
                        <div
                            class="d-flex gap-lg-3 gap-2 flex-md-row flex-column align-items-lg-start align-items-center">
                            <figure class="rounded-circle">
                                <img src="assets/images/About/Learning.webp" alt="Learning">
                            </figure>
                            <div>
                                <h6>Best Learning</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                        <div
                            class="d-flex gap-lg-3 gap-2 flex-md-row flex-column align-items-lg-start align-items-center">
                            <figure class="rounded-circle">
                                <img src="assets/images/About/Food.webp" alt="Food">
                            </figure>
                            <div>
                                <h6>Nutritious Food</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="pb-0">
                        <a href="Contact.html" class="hover1">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div
                    class="d-flex position-relative gap-lg-4 gap-3 align-items-center h-100 flex-sm-row flex-column">
                    <div class="d-flex flex-column gap-lg-4 gap-3 w-100 align-items-end h-100 ps-md-0 ps-sm-3">
                        <figure class="w-100" data-aos="flip-left">
                            <img class="w-100" src="assets/images/About/About_img.webp" alt="About_Img">
                        </figure>
                        <figure class="w-100" data-aos="flip-left">
                            <img class="w-100" src="assets/images/About/about_img2.webp" alt="About_Img">
                        </figure>
                    </div>
                    <figure class="mt-lg-5 mt-md-5 pt-lg-5 pt-md-5 w-75" data-aos="flip-left">
                        <img class="w-100" src="assets/images/About/about_img3.webp" alt="About_Img">
                    </figure>
                    <div><img class="bounce-slow" src="assets/images/icon/baloons.svg" alt="baloon"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== End of 1.3. About section ========  -->
<!-- ======== 2.2. Stats section ======== -->
<section class="Stats">
    <div class="container">
        <div class="text-center" data-aos="fade-up">
            <h5>We Are in Numbers</h5>
            <div class="d-flex justify-content-center align-items-center flex-md-row flex-column">
                <div class="d-flex justify-content-center align-items-center text-center flex-column">
                    <h2><span class="number" data-final-value="10"></span>k+</h2>
                    <p>Years of Transformative Learning</p>
                </div>
                <hr>
                <div class="d-flex justify-content-center align-items-center text-center flex-column">
                    <h2><span class="number" data-final-value="500"></span>k+</h2>
                    <p>Happy Students and Growing</p>
                </div>
                <hr>
                <div class="d-flex justify-content-center align-items-center text-center flex-column">
                    <h2><span class="number" data-final-value="20"></span>k+</h2>
                    <p>Passionate and Certified Educators</p>
                </div>
                <hr>
                <div class="d-flex justify-content-center align-items-center text-center flex-column">
                    <h2><span class="number" data-final-value="50"></span>k+</h2>
                    <p>Prestigious Awards for Excellence</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== End of 2.2. Stats section ======== -->
<!-- ======== 2.3. Mission section ======== -->
<section class="Mission">
    <div class="container">
        <div class="row flex-md-row flex-column-reverse gy-md-0 gy-4">
            <div class="col-lg-6 col-md-6">
                <figure class="w-100 h-100" data-aos="zoom-in-up">
                    <img class="w-100 h-100" src="assets/images/About/mission_img.webp" alt="mission_img">
                </figure>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="d-flex flex-column justify-content-between h-100 gap-4">
                    <div class="text-center h-50 d-flex flex-column justify-content-center"
                        data-aos="flip-left">
                        <h3>Mission</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Ipsum amet adipiscing sit diam id amet
                            feugiat
                            feugiat. In aliquam fringilla vel tincidunt sapien integer. Massa ut ultrices nam
                            donec.
                            Erat dui lorem lacus morbi vel dignissim. Donec sed tincidunt ultrices habitant erat
                            proin condimentum.</p>
                    </div>
                    <div class="text-center h-50  d-flex flex-column justify-content-center"
                        data-aos="flip-left">
                        <h3>Vision</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Ipsum amet adipiscing sit diam id amet
                            feugiat
                            feugiat. In aliquam fringilla vel tincidunt sapien integer. Massa ut ultrices nam
                            donec.
                            Erat dui lorem lacus morbi vel dignissim. Donec sed tincidunt ultrices habitant erat
                            proin condimentum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== End of 2.3. Mission section ======== -->
<!-- ======== 1.7. Learning section ========  -->
<section class="Learning pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="d-flex flex-column" data-aos="fade-up">
                    <div class="text-md-start text-center">
                        <h1>Play-Based Learning</h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Quis sed donec quis nunc aliquet cursus
                            mauris
                            ut. Enim fermentum maecenas rutrum dapibus sodales quis.</p>
                    </div>
                    <div class="d-flex flex-column gap-4">
                        <div class="d-flex gap-lg-3">
                            <figure class="rounded-circle d-flex justify-content-center align-items-center">
                                <img src="assets/images/icon/Clipboard.svg" alt="Clipboard">
                            </figure>
                            <div>
                                <h6>Reading & Writing</h6>
                                <p class="pt-1">Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                        <div class="d-flex gap-lg-3">
                            <figure class="rounded-circle d-flex justify-content-center align-items-center">
                                <img src="assets/images/icon/SchoolBell.svg" alt="SchoolBell">
                            </figure>
                            <div>
                                <h6>Events & Party</h6>
                                <p class="pt-1">Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-lg-5 mt-4">
                        <a href="Programs.html" class="hover1">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="position-relative d-flex justify-content-md-end justify-content-center">
                    <figure>
                        <img class="rounded-circle w-100" src="assets/images/About/bookOnHead.webp"
                            alt="bookOnHead" data-aos="zoom-in-up">
                    </figure>
                    <div>
                        <div>
                            <img class="position-absolute bounce-slow"
                                src="assets/images/About/learning_Plane.webp" alt="plane">
                        </div>
                        <div>
                            <img class="position-absolute rotate-animation"
                                src="assets/images/About/turtle.webp" alt="turtle">
                        </div>
                        <div>
                            <img class="position-absolute bounce-slow"
                                src="assets/images/icon/learning_wand.svg" alt="magicWand">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== End of 1.7. Learning section ========  -->
<!-- ======== 1.11. ChooseUs section ========  -->
<section class="ChooseUs">
    <div class="container position-relative">
        <hr>
        <div class="row flex-md-row flex-column-reverse gy-md-0 gy-4">
            <div class="col-lg-6 col-md-6">
                <figure data-aos="zoom-in-up">
                    <img class="w-100" src="assets/images/About/chooseUs.webp" alt="chooseUs">
                </figure>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="d-flex flex-column ps-lg-4 mt-lg-4 mt-md-3">
                    <div class="text-md-start text-center" data-aos="fade-up">
                        <h2>Practice Based Learning</h2>
                        <p>Lorem ipsum dolor sit amet consectetur. Quis sed donec quis nunc aliquet cursus
                            mauris
                            ut. Enim fermentum maecenas rutrum dapibus sodales quis.
                        </p>
                    </div>
                    <div class="d-flex flex-column gap-4">
                        <div class="d-flex gap-lg-3 align-items-center" data-aos="fade-up">
                            <figure class="rounded-circle d-flex justify-content-center align-items-center">
                                <img src="assets/images/icon/lab.svg" alt="lab">
                            </figure>
                            <div>
                                <h6>Science Based Experiments</h6>
                                <p class="pt-1">Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                        <div class="d-flex gap-lg-3 align-items-center mt-lg-2" data-aos="fade-up">
                            <figure class="rounded-circle d-flex justify-content-center align-items-center">
                                <img src="assets/images/icon/Ruler.svg" alt="Ruler">
                            </figure>
                            <div>
                                <h6>Mathematics and Experiments</h6>
                                <p class="pt-1">Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-lg-5 mt-4" data-aos="fade-up">
                        <a href="Contact.html" class="hover1">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer') %>