<footer>
    <div class="container">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <figure>
          <a href="/">
            <img src="/assets/images/logo.webp" alt="footer_logo">
          </a>
        </figure>
        <ul class="d-flex justify-content-center align-items-center flex-md-nowrap flex-wrap">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/career">Career</a></li>
        </ul>
        <hr>
        <div class="d-flex gap-lg-3 justify-content-center align-items-center">
          <h6>Opening Hours</h6>
          <hr>
          <p>Monday - Friday</p>
          <hr>
          <p>08:00 AM - 05:00 PM</p>
        </div>
        <div class="d-flex justify-content-md-center align-items-md-center flex-md-row flex-column">
          <a href="#" style="max-width: 450px;">
            <div class="d-flex justify-content-md-center align-items-center gap-lg-4 gap-3">
              <figure><i class="fa fa-home d-flex justify-content-center align-items-center"></i></figure>
              <div>
                <h6>Address</h6>
                <p style="font-weight: 600; color: rgb(54, 54, 54);" class="pt-lg-1 pt-md-2">Jain Mandir road, Budhwari Rd, near Bhandari Book Depot, Khandupara, Dongargarh, Chhattisgarh 491445
                </p>
              </div>
            </div>
          </a>
          <hr>
          <a href="mailto:info@alphabetzdgg.com">
            <div class="d-flex justify-content-md-center align-items-center gap-lg-4 gap-3">
              <figure><i class="fa fa-envelope d-flex justify-content-center align-items-center"></i>
              </figure>
              <div>
                <h6>Email Address</h6>
                <a href="mailto:info@alphabetzdgg.com" style="color: rgb(54, 54, 54);" class="pt-lg-1 pt-md-2">USER ID : 
                  info@alphabetzdgg.com</a>
                  </p>
              </div>
            </div>
          </a>
          <hr>
          <a href="tel:8889898805">
            <div class="d-flex justify-content-md-center align-items-center gap-lg-4 gap-3">
              <figure><i class="fa fa-phone d-flex justify-content-center align-items-center"></i>
              </figure>
              <div>
                <h6>Phone Number</h6>
                <a href="tel:8889898805" class="pt-lg-1 pt-md-2" style="color: rgb(54, 54, 54);">+91 88898 98805</p>
              </div>
            </div>
          </a>
        </div>
        <hr class="mb-0">
        <div class="footer-end d-flex justify-content-between p-2  align-items-center w-100 flex-sm-row flex-column text-center">
          <p style="color:white">Copyright &copy; <span id="year"></span> <strong>Alphabetz</strong> All Rights Reserved.</p>
          <p style="color:white">Powered By <strong>Technolitics</strong></p>
        </div>
      </div>
    </div>
    <!-- scroll to top  -->
    <div class="scrollToTop">
      <div class="arrowUp">
        <i class="fa-solid fa-arrow-up"></i>
      </div>
      <div class="water">
        <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
          <use xlink:href="#wave"></use>
        </svg>
        <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
          <use xlink:href="#wave"></use>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 560 20" style="display: none;">
          <symbol id="wave">
            <path
              d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z">
            </path>
            <path
              d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z">
            </path>
            <path
              d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z">
            </path>
            <path
              d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z">
            </path>
          </symbol>
        </svg>
      </div>
    </div>
  </footer>
  <!-- ======== End of 1.15. footer section ========  -->
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Ensure jQuery is available
    if (typeof jQuery === "undefined") {
        console.error("jQuery is not loaded!");
        return;
    }

    // Initialize Magnific Popup for images
    $('.image-popup').magnificPopup({
        type: 'image',
        gallery: {
            enabled: true // Enable gallery mode for navigation between images
        }
    });
  });
</script>

<script src="/assets/js/javascript-lib/bootstrap.min.js" ></script>
<link rel="stylesheet" href="/assets/css/magnific-popup.css">

<!-- Magnific Popup JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/magnific-popup.js"></script>

<script src="/assets/js/jquery.js" type="57a617d2553e7eabc17aec4e-text/javascript"></script>
<!-- slick slider js -->
<script src="/assets/js/slick.min.js" type="57a617d2553e7eabc17aec4e-text/javascript"></script>
<!-- main javascript -->
<script src="/assets/js/custom.js" type="57a617d2553e7eabc17aec4e-text/javascript"></script>
<!-- animation from javascript -->
<script src="/assets/js/aos.js" type="57a617d2553e7eabc17aec4e-text/javascript"></script>

</body>


<!-- Mirrored from html-templates.evonicmedia.com/kinderdot/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Mar 2025 10:25:13 GMT -->
</html>
